:root {
  --image-size: 300px; /* Image size */
  --border-thickness: 5px; /* Border thickness */
  --border-color: #cdb4db; /* Border color */
  --initial-scale: 1; /* Initial scale */
}

img {
  width: var(--image-size);
  aspect-ratio: 1;
  padding-top: calc(var(--image-size) / 5);
  cursor: pointer;
  border-radius: 0 0 999px 999px;
  --gradient-size: 50% / calc(100% / var(--initial-scale)) 100% no-repeat
    content-box;
  --outline-offset: calc(
    (1 / var(--initial-scale) - 1) * var(--image-size) / 2 -
      var(--border-thickness)
  );
  outline: var(--border-thickness) solid var(--border-color);
  outline-offset: var(--outline-offset);
  background: radial-gradient(
      circle closest-side,
      #fdfcdc calc(99% - var(--border-thickness)),
      var(--border-color) calc(100% - var(--border-thickness)) 99%,
      #0000
    )
    var(--gradient-size);
  -webkit-mask: linear-gradient(#000 0 0) no-repeat 50%
      calc(1px - var(--outline-offset)) /
      calc(100% / var(--initial-scale) - 2 * var(--border-thickness) - 2px) 50%,
    radial-gradient(circle closest-side, #000 99%, #0000) var(--gradient-size);
  transform: scale(var(--initial-scale));
  transition: 0.5s;
}

img:hover {
  --initial-scale: 1.35; /* Hover scale */
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #bde0fe;
}
